<%- include('partials/header') %>

    <!-- Title -->
<section class="blue-section" id="title">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">

        <div class="blue-space">
          <h1>LIETUVOS<br>MAŽŲJŲ GAUBTAGALVIŲ MINŲ DIAGNOSTIKA</h1>
          <h3>Elektroninė diagnostinė priemonė</h3>
          <h5>DIAGNOSTICS OF MINES OF THE LITHUANIAN NEPTICULIDAE. AN IDENTIFICATION TOOL</h5>
          <a class="btn" href="#select-search" role="button">START SEARCH</a>
        </div>

      </div>
    </div>

  </div>

</section>

<!-- About -->
<section class="clear-section" id="about">
  <div class="container-fluid">

    <div class="white-space">

      <h5 class="intro">  </h5>
    </div>

  </div>
</section>

<!-- Carousel -->
<section class="grey-section" id="slides">

  <div id="carouselAbout" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <p class="justify">
          <br>
          © Ši elektroninė diagnostinė priemonė yra dr. Andriaus Remeikio ir Akvilės
          Remeikienės IT produktas (2022 m.). <br><br>
          Diagnostinės priemons mokslinio turinio autoriai yra prof. dr. Jonas R. Stonis
          ir doc. Dr. Arūnas Diškus (Gamtos tyrimų centras, Vilnius, Lietuva),
          bendradarbiaujant su Baltijos-Amerikos biotaksonomijos institutu (B.A.B.I) ir
          daugeliu kitų tyrėjų, kuriems yra nuoširdžiai dėkojama.
          <br><br>Šis projektas buvo paremtas Lietuvos mokslo tarybos (projektas S-MIP-19-30 „DiagnoStics“).
        </p>
      </div>
      <div class="carousel-item container-fluid">
        <p class="justify"><br>© This identification tool is an IT product by Dr. Andrius Remeikis
          and Akvilė Remeikienė, 2022.
          <br> <br>The scientift content of this website was compiled by Prof. Dr. Jonas R. Stonis
          and Assoc. Prof, Dr. Arūnas Diškus (The Nature Research Centre, Vilnius, Lithuania) in
          cooperation with the Baltic-American Biotaxonomy Institute (B.A.B.I.) and many other professional
          researchers and volunteers to which we extend our thanks.
          <br><br>This project was supported by the grant S-MIP-19-30 "DiagnoStics" from the Research Council of Lithuania.</p>
      </div>
      </div>
    <div class="readMoreclass">
          <a id="readMore" href="#1">Skaitykite daugiau...</a>
    </div>
    <a class="carousel-control-prev" href="#carouselAbout" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselAbout" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>

<!-- empty space-->
<section class="clear-section">
  <div class="container-fluid">
    <div class="empty-space1">
      <p class="intro"> </p>
    </div>
  </div>
</section>

<!-- select region header-->
<section class="grey-section" id="select-search">
  <div class="container-fluid">
      <h5 class="">ATLIKITE PAIEŠKĄ / SEARCH</h5>
  </div>
</section>

<section class="white-section" id="region">
  <div class="container-fluid">
    <div class="white-space">

        <div class="region-box ">
          <a href="/search-all-species">
            <img class="region-img" src="images/website/ALL_SPECIES.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">VISOS RŪŠYS LIETUVOJE</h5>
        </div>

        <div class="region-box ">
          <a href="/search-cultivated-plants">
            <img class="region-img" src="images/website/CULTIVATED_PLANTS.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">ANT KULTŪRINIŲ AUGALŲ</h5>
        </div>

        <!-- <div class="region-box ">
          <a href="/search-forest-plants">
            <img class="region-img" src="images/website/FOREST_PLANTS.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">ANT MIŠKO AUGALŲ</h5>
        </div> -->

        <!-- <div class="region-box ">
          <a href="/search-continental-east-asia">
            <img class="region-img" src="images/website/CONTINENTAL_EAST_ASIA.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">CONTINENTAL EAST ASIA</h5>
        </div> -->

        <!-- <div class="region-box ">
          <a href="/search-the-himalaya">
            <img class="region-img" src="images/website/THE_HIMALAYA.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">THE HIMALAYA</h5>
        </div> -->

    </div>
  </div>

</section>

<!-- learn about -->
<section class="grey-section" id="learn-a">
  <div class="container-fluid">
        <h5 class="">SKAITYKITE DAUGIAU / LEARN ABOUT</h5>
  </div>
</section>

<section class="" id="learn-about">
  <div class="container-fluid">
    <div class="row">
      <div class="box green col col-12 col-sm-6 col-md-3">
        <h4>RŪŠIŲ SĄRAŠAI<br> ----------- <br>CHECKLISTS</h4>
      </div>
      <div class="box dark-green col col-12 col-sm-6 col-md-3">
        <h4><br>TYRIMŲ ISTORIJA</h4>
      </div>
      <div class="box blue col col-12 col-sm-6 col-md-3">
        <h4><br>HISTORY OF INVESTIGATIONS</h4>
      </div>
      <div class="box mint col col-12 col-sm-6 col-md-3">
        <h4>LITERATŪRA<br> ----------- <br>REFERENCES</h4>
      </div>
    </div>
  </div>
</section>

<!-- empty space-->
<section class="clear-section">
  <div class="container-fluid">

    <div class="empty-space2">
      <p class="intro"> </p>
    </div>

  </div>
</section>

<script type="text/javascript">
  $('#readMore').click(function(e) {
    e.stopPropagation();
    $('.justify').css({
        'height': 'auto',
    })
});

$(document).click(function() {
    $('.justify').css({
        'height': '120px'
    })
})

$('#readMore').click(function(e) {
  e.stopPropagation();
  $('#readMore').css({
      'display': 'none',
  })
});

$(document).click(function() {
  $('#readMore').css({
      'display': 'block'
  })
})


</script>


<%- include('partials/footer') %>
