<%- include('partials/header') %>

<!-- Title -->
<section class="blue-section" id="title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="blue-space-search">
          <h1>LIETUVOS MAŽŲJŲ GAUBTAGALVIŲ MINŲ DIAGNOSTIKA ANT KULTŪRINIŲ AUGALŲ</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- empty space-->
<section class="clear-section">
  <div class="container-fluid">
    <div class="empty-space3">
      <p class="intro"> </p>
    </div>
  </div>
</section>

<div class="container">
  <div class="jumbotron text-center">

    <form action="/s-cultivated-plants" method="get">

      <div class="search-text-div">
        <p>NUSTATYTI RŪŠĮ PAGAL MINOS POŽYMIUS</p>
        <p class="search-below">Nebūtina atlikti pasirinkimų kiekviename skyriuje</p>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">AUGALO ŠEIMA</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 character-select">
          <select name="dhostplantfamily" class="select-gray form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Beržiniai – Betulaceae">Beržiniai – Betulaceae</option>
            <option class="others" value="Bukiniai – Fagaceae">Bukiniai – Fagaceae</option>
            <option class="others" value="Erikiniai – Ericaceae">Erikiniai – Ericaceae</option>
            <option class="others" value="Erškėtiniai – Rosaceae">Erškėtiniai – Rosaceae</option>
            <option class="others" value="Gluosniniai – Salicaceae">Gluosniniai – Salicaceae</option>
            <option class="others" value="Guobiniai – Ulmaceae">Guobiniai – Ulmaceae</option>
            <option class="others" value="Rūgtiniai – Polygonaceae">Rūgtiniai – Polygonaceae</option>
            <option class="others" value="Sapindiniai – Sapindaceae (įsk. klevus)">Sapindiniai – Sapindaceae (įsk. klevus)</option>
            <option class="others" value="Kita šeima, nei išvardyta">Kita šeima, nei išvardyta</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">AUGALO GENTIS</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="dforewing" class="select-gray2 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Alksnis – Alnus">Alksnis – Alnus</option>
            <option class="others" value="Ąžuolas – Quercus">Ąžuolas – Quercus</option>
            <option class="others" value="Beržas – Betula">Beržas – Betula</option>
            <option class="others" value="Erškėtis, rožė – Rosa">Erškėtis, rožė – Rosa</option>
            <option class="others" value="Gervuogė, avietė, katuogė – Rubus">Gervuogė, avietė, katuogė – Rubus</option>
            <option class="others" value="Gudobelė – Crataegus">Gudobelė – Crataegus</option>
            <option class="others" value="Gluosnis, karklas, blindė – Salix">Gluosnis, karklas, blindė – Salix</option>
            <option class="others" value="Guoba, vinkšna, skirpstas – Ulmus">Guoba, vinkšna, skirpstas – Ulmus</option>
            <option class="others" value="Klevas – Acer">Klevas – Acer</option>
            <option class="others" value="Kriaušė – Pyrus">Kriaušė – Pyrus</option>
            <option class="others" value="Lazdynas – Corylus">Lazdynas – Corylus</option>
            <option class="others" value="Liepa – Tilia">Liepa – Tilia</option>
            <option class="others" value="Obelis – Malus">Obelis – Malus</option>
            <option class="others" value="Skroblas – Carpinus">Skroblas – Carpinus</option>
            <option class="others" value="Slyva, vyšnia, trešnė – Prunus (ir buv. Cerasus)">Slyva, vyšnia, trešnė – Prunus (ir buv. Cerasus)</option>
            <option class="others" value="Šermukšnis – Sorbus">Šermukšnis – Sorbus</option>
            <option class="others" value="Tuopa, drebulė – Populus">Tuopa, drebulė – Populus</option>
            <option class="others" value="Žemuogė – Fragaria">Žemuogė – Fragaria</option>
            <option class="others" value="Kita gentis, nei išvardyta">Kita gentis, nei išvardyta</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">PAŽEISTA AUGALO DALIS</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="dtegumen" class="select-gray3 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Augalo lapas">Augalo lapas</option>
            <option class="others" value="Lapas ir stiebas">Lapas ir stiebas</option>
            <option class="others" value="Vien tik stiebas">Vien tik stiebas</option>
            <option class="others" value="Medžio šakelių žievė">Medžio šakelių žievė</option>
            <option class="others" value="Medžio pumpuras">Medžio pumpuras</option>
            <option class="others" value="Klevų sparnavaisis">Klevų sparnavaisis</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">MINOS MORFOLOGINIS TIPAS</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="duncus" class="select-gray4 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Mina spiralinė">Mina spiralinė</option>
            <option class="others" value="Gyvatiškoji, tolygiai truputi platėjanti">Gyvatiškoji, tolygiai truputi platėjanti</option>
            <option class="others" value="Gyvatiškoji, tolygiai, bet stipriai platėjanti">Gyvatiškoji, tolygiai, bet stipriai platėjanti</option>
            <option class="others" value="Netikroji dėmiškoji">Netikroji dėmiškoji</option>
            <option class="others" value="Kaičioji">Kaičioji</option>
            <option class="others" value="Dėmiškoji">Dėmiškoji</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">MINOS VINGIUOTUMAS</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="dgnathos" class="select-gray5 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Vingiuota">Vingiuota</option>
            <option class="others" value="Susukta arba susiraizgiusi">Susukta arba susiraizgiusi</option>
            <option class="others" value="Stipriai susukta tik pradžioje">Stipriai susukta tik pradžioje</option>
            <option class="others" value="Kitokia">Kitokia</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">MINOS TAKO UŽPILDYMAS</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="dvalva" class="select-gray6 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Ekskrementų linija siaura, platūs tako kraštai">Ekskrementų linija siaura, platūs tako kraštai</option>
            <option class="others" value="Linija gana plati, bet lieka platoki tako kraštai">Linija gana plati, bet lieka platoki tako kraštai</option>
            <option class="others" value="Linija (juosta) plati, siauri neužpildyti kraštai">Linija (juosta) plati, siauri neužpildyti kraštai</option>
            <option class="others" value="Ekskrementais užpildytas visas tako plotis">Ekskrementais užpildytas visas tako plotis</option>
            <option class="others" value="Mina kitokia, be ekskrementų linijos ar juostos">Mina kitokia, be ekskrementų linijos ar juostos</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">MINOS PATI PRADŽIA</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="djuxta" class="select-gray7 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Su vidurine ekskrementų linija">Su vidurine ekskrementų linija</option>
            <option class="others" value="Užpildyta ekskrementais">Užpildyta ekskrementais</option>
            <option class="others" value="Mina prasideda lapkotyje">Mina prasideda lapkotyje</option>
            <option class="others" value="Mina NE lape, o kitoje augalo dalyje">Mina NE lape, o kitoje augalo dalyje</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">EKSKREMENTŲ IŠSIDĖSTYMAS</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="dtranstilla" class="select-gray8 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Sutelkti į ištisinę liniją ar juostą">Sutelkti į ištisinę liniją ar juostą</option>
            <option class="others" value="Ekskrementų linija daug kur punktyrinė">Ekskrementų linija daug kur punktyrinė</option>
            <option class="others" value="Ekskrementai bent kai kur išsidėstę spirale">Ekskrementai bent kai kur išsidėstę spirale</option>
            <option class="others" value="Ekskrementų dėmė arba pailgos sankaupos">Ekskrementų dėmė arba pailgos sankaupos</option>
            <option class="others" value="Dauguma ekskrementų padrikai išsibarstę">Dauguma ekskrementų padrikai išsibarstę</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">EKSKREMENTŲ SPALVA</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="dvinculum" class="select-gray9 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Juodi arba rusvai juodi">Juodi arba rusvai juodi</option>
            <option class="others" value="Rudi arba rausvai rudi">Rudi arba rausvai rudi</option>
            <option class="others" value="Žali arba rusvai žali (visi ar dalis)">Žali arba rusvai žali (visi ar dalis)</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>

      <div class="form-row row-p">
          <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="inputState">VIKŠRO SPALVA</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <select name="dphalluswithoutcarinae" class="select-gray10 form-select form-control-lg">
            <option style="color:gray" value="null">Pasirinkti</option>
            <option class="others" value="Geltona arba gelsva">Geltona arba gelsva</option>
            <option class="others" value="Žalia, žalsva">Žalia, žalsva</option>
            <option class="others" value="Nenustatyta">Nenustatyta</option>
          </select>
        </div>
      </div>
            <div class="search-text-div">
      <p><b>ARBA</b> SURASTI NORIMĄ RŪŠĮ PAGAL PAVADINIMĄ</p>
      <p class="search-below">Įrašomas norimos rūšies lotyniško pavadinimo antrasis žodis</p>
      </div>
      <div class="form-row row-p">
        <div class="col-lg-4 col-md-6 col-sm-12 character-name">
          <label for="">NEPTICULIDAE RŪŠIS</label>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 autocomplete">
          <input type="text" id="myInputSpecies" name="dspecies" class="form-control form-control-lg text-center" placeholder="Genties pavadinimas neturi būti rašomas paieškoje" autocomplete="off">
        </div>
      </div>
      <div class="form-row">
        <input type="text" name="dregion" value="Cultivated plants" hidden>
      </div>

      <button type="submit" class="btn yellow-button w-100">IEŠKOTI</button>

    </form>

  </div>
</div>

<script>
function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { //up
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

autocomplete(document.getElementById("myInputSpecies"), <%-dataArray%>);
</script>

<%- include('partials/footer') %>
